@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: Lato, sans-serif;
    line-height: 1;
    font-weight: 400;
    /* background-image: url("assets/heroimg4.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absoulte;
    top: 0;
    bottom: 100px; */
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #ffffff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  